:root {
    --primary-color:#000;
    --secondary-color: #fff;
    --text-color: #000;
    --bg-color: #fff;
}
  
.dark-mode {
    --primary-color:#fff;
    --secondary-color: #000;
    --text-color: #fff;
    --bg-color: #000;
} 

.toggle-dark-mode {
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}